	/* CSS of #about	*/

.low:hover{
	text-shadow: 0 0 20px  #00bcd4;
}	
#ab:hover{
	text-shadow: 0 0 30px  #64a6af;
}
#about{
	width:100vw;
	height: 100vh;
	background-color:#121212;
}
.profile-img-block{
	width:100%;
	height: 35%;
/*	background-color: red; */
	text-align: center;
}
.img1{
/*	height: 30%;
	position: absolute;
	left:17%;
	top: 110%;  */
	height: 80%;
/*	margin-left: 19%; */
	margin-top: 8%;


}
#about h1{
	color: white;
	font-size: 150%;
	text-align: center;
/*	display: block;
	position: absolute;
	left: 40%;   */
	clear: both;
	margin-top: 15%;
/*	background-color: blue;  */
}
.profile-details{
	width: 100%;
	height: 50%;
/*	background-color: green;  
    margin-top:15%; 
	margin-top: 3%;  */
}
.profile-details:hover{
	text-shadow: 0 0 5px  #8c9496;

	transition: 1s;

}
.profile-details p{
	color: white;
	display: block;
	text-align: center;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 5%;
	font-family: 'Arima Madurai', cursive;
	font-size: 120%;
	line-height: 150%;
}
.profile_button{
/*	background:red;*/
	margin-top: 20px;
	text-align: center;
}
.buttonn{
    margin-bottom: 15px;
	cursor: pointer;
	border:none;
	padding: 12px;
	background: -webkit-linear-gradient(top, #7aff65 0%, #117e00 100%);
	border-radius: 8%;
	/* text-shadow: 0 0 30px  #00bcd4; */
}
.buttonn:hover{
	background: -webkit-linear-gradient(bottom, #7aff65 0%, #117e00 100%);
	box-shadow: 2px 2px 3px grey;
	box-shadow: 0 0 30px  #00bcd4;
	transition: 1s;
}
@media screen and (min-width: 520px)
{
	#about h1{
		margin-top: 9%;
	}
	.profile-details{
		height: 48%;
	}
	.profile_button{
		margin-top: 40px;
	}
}
@media screen and (min-width: 1190px)
{
	.profile-img-block{
		display: inline-block;
		float: left;
		width: 40%;
		height: 100%;
	}
	.img1{
		height: 30%;
		margin-top: 38%;
	}
	#about h1{
		display: inline-block;
		width: 55%;
		height: 5%;
		float: right;
		clear: none;
		margin-right: 5%;
		margin-top: 13%;
	}
	.profile-details{
		display: inline-block;
		float: right;
		width: 55%;
		height: 50%;
		margin-right: 5%;
		font-size: 130%;
		line-height: 160%;
	}
}