	/* Mobile first */
#home{
	background-color: #121212;
	width: 100vw;
	height:100vh;
}
#home .header{
	background-color:#121212;
	width:30vw;
	height:20%;
	position: fixed;
	top: 1%;
	left: 13%;
	z-index: 999;
	display: none;
	border-radius: 5%;
}
a{
/*	background-color: blue;
	margin-left: 2%;*/
	text-decoration: none;
	color: purple;
	font-size: 1.2em;
	display:block;
}
a:hover{
	color:#0bf9fa;
}
a:focus{
	color: orange;
}
/* STYLING MOBILE NAVIGATION */
	li{
		border-bottom: 1px dashed black;
		padding: 0.7%;
		padding-left: 2%;
	}
	.last{
		border-bottom: none;


	}
/* CSS of Hamburger Button */
	.container {
  		position: fixed;
  		top:1%;
  		left: 1%;
  		z-index: 999;
  		cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
	  width: 35px;
	  height: 5px;
	  background-color:purple;
	  margin: 6px 0;
	  transition: 0.4s;
	}

	.change .bar1 {
  		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
  		transform: rotate(-45deg) translate(-9px, 6px);
	}

	.change .bar2 {opacity: 0;}

	.change .bar3 {
  		-webkit-transform: rotate(45deg) translate(-8px, -8px);
  		transform: rotate(45deg) translate(-8px, -8px);
	}
/* End of CSS of Hamburger Button */

/* END OF STYLING THE MOBILE NAVIGATION */
#home .name{
	height:100vh;
}
.name .para{
	width: 100%;
	height:50%;
/*	background-color: yellow;	*/
	font-size: 200%;
	text-align: center;
	color: white;
}
.para p{
	position: absolute;
	top:25%;
	left: 15%;
	right: 15%
}
.para span{
	color: #10a357;
}
.name .img{
	width: 100%;
	height: 50%;
/*	background-color: blue;	*/
}
.img .systems{
	width:80%;
	height: 30%;
	margin-top: 5%;
	position: absolute;
	left: 8%;
	right: 5%;
	display: block;
}
.img .scroll{
	width:80px;
	height: 10%;
	display: block;
	position: absolute;
	top: 90%;
	left: 40%;
}

@media screen and (min-width: 740px)
{
	/* Change the navigation to top  */
	.container{
		display: none;
	}
	#home .header{
		background-color: purple;
		height: 8.5%;
		width:100vw;
		display: block;
		left: 0%;
		top: 0%;
		border-radius: 0%;
	}
	a{
/*	background-color: blue;
	margin-left: 2%;*/
		text-decoration: none;
		color: white;
		font-size: 1.5em;
		display:inline-block;
	}
	ul{
		list-style-type: none;
		width:100%;
	}
	li{
		border-bottom:none;
		padding: 0%;
		padding-left: 0%;
		text-align: center;
		width:20%;
		display:inline-block;
		padding-top:1%;
		padding-bottom: 1%;
		margin-left:3%;
		margin-right: 3%;
	/*	padding-right: 5%;
		background-color: red;*/
	}
	.low{
		width:10%;
	}
	.name .para{
		font-size: 290%;
	}
	.img .scroll{
		width:120px;
		left: 43%;
	}
}
@media screen and (min-width: 1000px)
{
	.img .systems{
		margin-top: 4%;
	}
}