/*For Scrollbar*/
html::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: #CCCCCC;
}

html::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}
/*End Scrollbar Code*/

/*	CSS of #home	*/
#home{
	background-color: #121212;
	height: 100vh;
	width: 100%;
}
#home .header{
	background-color: #7d1bbf;
	width:100%;
}
.header{
	position: fixed;
	top: 0%;
}
nav{
/*	background-color: yellow;*/
	width:100%;
}
ul{
	list-style-type: none;
	width:100%;
}
li{
	text-align: center;
	width:20%;
	display:inline-block;
	padding-top:2%;
	padding-bottom: 2%;
	margin-left:3%;
	margin-right: 3%;
/*	padding-right: 5%;
 
	background-color: red;*/
}
.low{
	width:10%;
}
a{
/*	background-color: blue;
	margin-left: 2%;*/
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	display: inline-block;
}
a:hover{
	color:#0bf9fa;
}
/*	.mobile{
		position: absolute;
		top:5%;
		background-color: red;
		height: 10%;
		width: 100%;
	}
*/
.name{
	width:100%;
	font-size: 300%;
	color:white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	background-color: red;
}
.name span{
	color: #10a357;
}
.name .para{
	height: 40%;
/*	background-color: red;*/	
	margin-top: 7%;
	width:100%;
}
.name .para p{
	line-height: 120%;
}
.name .img{
	height:60%;
	margin-top: 5%;
	width:100%;
/*	background-color: yellow;	*/
}
.name .img .systems{

	height:60%;
}	
.name .scroll{
	height:10%;
	display: block;
	position: absolute;
	top:90%;
	left:40%;
}
/*.ld-hourglass{
	position: absolute;
	left:3%;
	top:1.8%;
	font-size: 400%;
	color: #c9be18;
}
*/
@media screen and (max-width: 860px)
{
	.name .img .systems{
		margin-top: 5%;
		width:80%;
		height:70%;
	}
	.name .para p{
		line-height: 100%;
		margin:1%;
	}

}
@media screen and (max-width: 730px)
{
	.name{
		font-size: 250%;
	}
	.name .para{
		margin-top: 20%;
	}
	.name .img{
		margin-top: 10%;
	}
}
@media screen and (max-width: 530px)
{
	.name{
		font-size: 200%;
	}
	.name .para{
		margin-top: 9%;
		background-color: yellow;
		height:40vh;
	}
	.name .para p{
		padding-top: 20%;
	}
	.name .img{
		margin-top: 10%;
		background-color: pink;
	}
	/*
		change the navigation bar.....
	*/
}


.sncss{
	background-color: #121212;
	height: 100vh;
	width: 100%;
}


/*	CSS of #about	*/
#blackFe{
	background-color: #121212;
	height: 100vh;
	width: 100%;
}

#blackFerrous{
	background-color: #7d1bbf;
	width:100%;
}