* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #535252;
    margin: 0;
  }
  
  #img-caption {
    display: none;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
  }
  
  .main-header {
    height: 80vh;
    background: linear-gradient(grey, transparent 90%),
      linear-gradient(0deg, #fff, transparent),
      url(https://upload.wikimedia.org/wikipedia/commons/f/f3/Gandhi_spinning.jpg)
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  h1 {
    font-size: 3rem; /* 90px/16px  */
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    margin-bottom: 0;
    border-bottom: 2px solid white;
    color: #fff;
  }
  
  #img-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
    font-size: 1.2rem;
    color: #535252;
    margin-top: 10px;
  }
  
  .header-img {
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4);
  }
  
  .arrow {
    width: 5%;
    padding-bottom: 0;
  }
  
  blockquote {
    text-align: center;
  }
  
  h2,
  h3 {
    text-align: center;
    line-height: 1.4;
  }
  
  footer {
    margin: 30px auto;
    text-align: center;
    color: #000;
  }
  
  @media all and (min-width: 750px) {
    header .header-img:hover {
      transform: scale(1.1);
    }
  
    .main-content {
      max-width: 60%;
      margin: 10px auto;
      border: 1px solid #dedede;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
      padding: 20px;
    }
  
    li {
      margin-top: 15px;
      line-height: 1.6;
    }
  }
  
  @media all and (max-width: 480px) {
    .main-header {
      margin: 0;
      padding: 0 10px;
      text-align: center;
    }
  
    .main-content {
      padding: 15px;
    }
  
    li {
      margin-top: 15px;
      line-height: 1.4;
    }
  
    .header-img {
      width: 200px;
    }
  }
  