#home{
	background-color: #121212;
	height: 100vh;
	width: 100%;
}
#home .header{
	background-color: #7d1bbf;
	width:100%;
}
nav{
/*	background-color: yellow;*/
	width:100%;
}
ul{
	list-style-type: none;
	width:100%;
}
li{
	text-align: center;
	width:20%;
	display:inline-block;
	padding-top:2%;
	padding-bottom: 2%;
	margin-left:3%;
	margin-right: 3%;
/*	padding-right: 5%;
 
	background-color: red;*/
}
.low{
	width:10%;
}
a{
/*	background-color: blue;
	margin-left: 2%;*/
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	display: inline-block;
}
a:hover{
	color:#0bf9fa;
}
.name{
	width:100%;
	font-size: 300%;
	color:white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
.name span{
	color: #10a357;
}
.name .para{
	height: 40%;
/*	background-color: red;	*/
	margin-top: 6%;
	width:100%;
}
.name .para p{
	line-height: 120%;
}
.name .img{
	height:60%;
	margin-top: 3%;
	width:100%;
/*	background-color: yellow;	*/
}
.name .img .systems{

	height:60%;
}												/*	.name p{
																position:absolute;
																left:21%;
																top:30%;
															}
															.name .systems{
																display: block;
																position: absolute;
																left:30%;
																top:48%;
															}
														*/
.name .scroll{
	height:10%;
	display: block;
	position: absolute;
	top:90%;
	left:40%;
}
.ld-hourglass{
	position: absolute;
	left:3%;
	top:1.8%;
	font-size: 400%;
	color: #c9be18;
}
@media screen and (max-width: 860px)
{
	.name .img .systems{
		margin-top: 5%;
		width:80%;
		height:70%;
	}
	.name .para p{
		line-height: 100%;
		margin:1%;
	}

}
@media screen and (max-width: 527px)
{
	a{
		font-size: 1.3em;
	}
	.low{
		margin-left: 2%;
	}
	.high{
		margin-right:5%; 
	}
}