#home{
	background-color: #121212;
	height: 100vh;
	width: 100vw;
}
#home .header{
	background-color: #7d1bbf;
}
ul{
	list-style-type: none;
}
li{
	display:inline-block;
	padding:2%;
	margin-left:9%;
}
a{
	text-decoration: none;
	color: white;
	font-size: 150%;
	display: inline-block;
}
a:hover{
	color:#0bf9fa;
}
.name{
	font-size: 300%;
	color:white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}
.name span{
	color: #10a357;
}
.name p{
	position:absolute;
	left:21%;
	top:30%;
}
.name .systems{
	display: block;
	position: absolute;
	left:30%;
	top:48%;
}
.name .scroll{
	height:10%;
	display: block;
	position: absolute;
	top:90%;
	left:45%;
}
.ld-hourglass{
	position: absolute;
	left:3%;
	top:1.8%;
	font-size: 400%;
	color: #c9be18;
}