
		@import url('https://fonts.googleapis.com/css?family=Lobster');
		
		body{
			background-color: #121212;
		}

		.main1{
			height:90vh;
			width:72%;
			margin:0 auto;
		
			position:absolute;
			top: 5%;
			left:14%;
			border-radius: 3%;
		}
		.main2{
			height: 90%;
			width:100%;
			background-color:#121212;
		}
		iframe{
			height:100%;
			width:100%;
			position: absolute;
			border-radius: 1%;
		}
		.previous,.next{
			display: inline-block;
			width:6%;
			height:10%;
			line-height:180%;
			text-align: center;
		/*	text-transform:uppercase;*/
			color:#ffcb0b;
			position:absolute;
			top: 45%;
			font-size: 24px;
			font-family: 'Lobster';
		}
		.previous{
			left:2%;
			z-index: 999;
		}
		.next{
			right:2%;
		}
		.previous:hover,.next:hover{
			color:black;
			cursor:pointer;
		}
		.circles{
			height:10%;
			background-color:white;
		}
		.bubble{
			display: inline-block;
			height: 35%;
			width: 2%;
			border-radius: 50%;
			background-color: #121212;
			position: relative;
			top:36%;
			left: 38%;
			margin-left: 3%;
		}
		.bubble:hover{
			cursor: pointer;
		}
		.low {
			color: #ffffff;
			font-size: 35px;
			font-family: 'Lobster';
		}

		a{
			/*	background-color: blue;
				margin-left: 2%;*/
				text-decoration: none;
				color: black;
				color: white;
				font-size: 1.4em;
				display:block;
			}
			a:hover{
				color:rgb(149, 245, 24);;
			}
			a:focus{
				color:#0d42e0;
				color: #e8e413;
			}
			.main-navigation{
				font-family: 'Lobster';
			}
			