body{
  background-color: #121212;
   height: 100vh;
  width: 100vw;
}
div{
/*  background-color: red;*/
  color: white;
  text-align: center;
  margin:0 auto;
  height: 250px;
  width: 70%;
  padding-top: 10%;
  font-size: 150%;
  line-height: 120%;
}
.but{
 /* background-color: yellow; */
  font-size: 130%;
}
button{
  cursor: pointer;
  border:none;
  padding: 10px;
}